In [1]:
import requests
import pandas as pd
import eurostat

url=f"https://appsso.eurostat.ec.europa.eu/nui/print.do"

In [2]:
df = eurostat.get_data_df('lfst_r_lfe2ehour')
df

,unit,age,sex,geo\time,2019,2018,2017,2016,2015,2014,...,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999
0,HR,Y15-24,F,AT,32.0,32.3,31.5,32.0,32.5,32.4,...,33.9,34.2,35.4,35.0,36.9,36.9,36.7,36.6,36.9,36.8
1,HR,Y15-24,F,AT1,29.8,30.3,29.2,29.4,30.8,30.1,...,32.2,32.7,34.1,33.6,35.6,36.5,36.9,36.4,36.1,36.0
2,HR,Y15-24,F,AT11,32.0,33.6,33.2,32.3,35.2,33.8,...,34.5,36.0,34.9,34.4,35.1,37.4,37.3,37.8,38.9,35.7
3,HR,Y15-24,F,AT12,31.5,32.4,32.4,32.1,32.7,32.6,...,33.5,33.3,35.1,35.9,36.9,36.8,37.2,37.7,36.7,36.5
4,HR,Y15-24,F,AT13,27.9,28.0,25.6,26.5,28.5,27.0,...,30.5,31.6,32.8,30.8,34.2,35.8,36.5,34.4,34.8,35.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10495,HR,Y_GE15,T,UKM7,36.5,35.8,36.0,36.0,36.4,36.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10496,HR,Y_GE15,T,UKM8,36.1,36.2,35.7,35.6,36.3,36.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10497,HR,Y_GE15,T,UKM9,36.0,36.6,36.9,36.3,36.3,35.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10498,HR,Y_GE15,T,UKN,36.8,36.5,36.5,36.3,36.6,36.7,...,37.3,37.5,37.7,37.8,38.2,37.6,38.1,37.9,38.3,38.7
10499,HR,Y_GE15,T,UKN0,36.8,36.5,36.5,36.3,36.6,36.7,...,37.3,37.5,37.7,37.8,38.2,37.6,38.1,37.9,38.3,38.7

In [3]:
# Drop all years before 2012 and columns unit and age (same for all entries)
df.columns = df.columns.astype(str)
df = df.drop(df.loc[:, '2011': ].columns, axis = 1)
# Rename to avoid problems using \
df = df.rename(columns={'geo\\time': ' NUTS 2'})

# Extract the data for both sexes (Total) and age group 15-74
df = df[df.sex == 'T']
df = df.drop('sex', axis = 1)
df = df[df.age == 'Y15-74']

In [4]:
# Merge on all entries which are also in the target variable cities to extract only the interesting cities
target_cities = pd.read_csv("Cities_with_codes.csv")
avg_hours = pd.merge(target_cities, df, on=[' NUTS 2'])
avg_hours

,City,City Code,NUTS 2,Country,unit,age,2019,2018,2017,2016,2015,2014,2013,2012
0,Amsterdam,NL002C1,NL32,NL,HR,Y15-74,30.8,30.9,30.8,30.7,30.3,30.4,30.2,30.6
1,Ankara,TR001C1,TR51,TR,HR,Y15-74,44.0,44.7,44.9,45.7,46.8,47.0,48.1,48.7
2,Antwerp,BE002C1,BE2,BE,HR,Y15-74,37.6,37.6,38.1,37.3,37.4,37.4,37.7,37.2
3,Athens,EL001C1,EL30,EL,HR,Y15-74,40.2,40.6,40.5,40.6,40.3,40.3,40.6,40.6
4,Barcelona,ES002C1,ES51,ES,HR,Y15-74,37.2,37.7,37.4,37.5,37.7,37.6,37.6,37.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,Vilnius,LT001C1,LT01,LT,HR,Y15-74,38.8,38.8,38.9,38.7,38.8,38.6,38.7,NaN
77,Warsaw,PL001C1,PL91,PL,HR,Y15-74,39.8,39.8,40.2,40.4,40.3,40.2,40.3,NaN
78,Wroclaw,PL004C1,PL51,PL,HR,Y15-74,40.2,40.2,40.3,40.3,40.7,40.8,40.6,40.8
79,Zagreb,HR001C1,HR04,HR,HR,Y15-74,39.8,39.9,39.8,39.4,39.5,39.7,39.6,39.8
80,Zurich,CH001C1,CH04,CH,HR,Y15-74,34.8,34.6,34.7,34.7,34.7,34.5,35.0,35.2

In [5]:
# Check for missing values
print('Missing values for columns:')
def NaN_percent(df, column_name):
    row_count = df[column_name].shape[0]
    empty_values = row_count - df[column_name].count()
    return (100.0*empty_values)/row_count
for i in list(avg_hours):
    print("%s: %.2f%%" % (i, NaN_percent(avg_hours,i)))

Missing values for columns:
City: 0.00%
 City Code: 0.00%
 NUTS 2: 0.00%
 Country: 0.00%
unit: 0.00%
age: 0.00%
2019: 1.23%
2018: 1.23%
2017: 1.23%
2016: 1.23%
2015: 1.23%
2014: 1.23%
2013: 1.23%
2012: 7.41%

In [6]:
has_nan = avg_hours[avg_hours.isna().any(axis=1)]
has_nan

,City,City Code,NUTS 2,Country,unit,age,2019,2018,2017,2016,2015,2014,2013,2012
7,Belgrade,-,RS11,RS,HR,Y15-74,42.1,42.3,42.3,42.5,42.7,41.9,42.0,NaN
18,Budapest,HU001C1,HU11,HU,HR,Y15-74,39.2,39.4,39.8,39.9,40.4,40.3,39.7,NaN
28,Edinburgh,UK007C1,UKM7,UK,HR,Y15-74,36.5,35.9,36.1,36.0,36.5,36.5,36.8,NaN
34,Glasgow,UK004C1,UKM3,UK,HR,Y15-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.9
40,Kaunas,LT002C1,LT02,LT,HR,Y15-74,38.8,38.7,38.3,38.4,38.2,37.8,37.9,NaN
76,Vilnius,LT001C1,LT01,LT,HR,Y15-74,38.8,38.8,38.9,38.7,38.8,38.6,38.7,NaN
77,Warsaw,PL001C1,PL91,PL,HR,Y15-74,39.8,39.8,40.2,40.4,40.3,40.2,40.3,NaN

In [7]:
Glasgow = avg_hours.loc[avg_hours['City'] == 'Glasgow']
# Whole region of Scotland is UKM
# Glasgow is 40% of the population it should be a reasonable approximation
temp  = df[df[' NUTS 2'] == 'UKM']
temp = temp.loc[:,'2019':'2013']
Glasgow.loc[:, '2019':'2013'] = temp.loc[:, '2019':'2013'].to_numpy()
avg_hours[avg_hours['City'] == 'Glasgow'] = Glasgow

/opt/conda/lib/python3.8/site-packages/pandas/core/indexing.py:1736: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [8]:
# Impute the rest using padding
avg_hours = avg_hours.interpolate(method='pad')
print('Dataframe has NaN values: ', avg_hours.isnull().values.any())
avg_hours

Dataframe has NaN values:  False

,City,City Code,NUTS 2,Country,unit,age,2019,2018,2017,2016,2015,2014,2013,2012
0,Amsterdam,NL002C1,NL32,NL,HR,Y15-74,30.8,30.9,30.8,30.7,30.3,30.4,30.2,30.6
1,Ankara,TR001C1,TR51,TR,HR,Y15-74,44.0,44.7,44.9,45.7,46.8,47.0,48.1,48.7
2,Antwerp,BE002C1,BE2,BE,HR,Y15-74,37.6,37.6,38.1,37.3,37.4,37.4,37.7,37.2
3,Athens,EL001C1,EL30,EL,HR,Y15-74,40.2,40.6,40.5,40.6,40.3,40.3,40.6,40.6
4,Barcelona,ES002C1,ES51,ES,HR,Y15-74,37.2,37.7,37.4,37.5,37.7,37.6,37.6,37.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,Vilnius,LT001C1,LT01,LT,HR,Y15-74,38.8,38.8,38.9,38.7,38.8,38.6,38.7,37.5
77,Warsaw,PL001C1,PL91,PL,HR,Y15-74,39.8,39.8,40.2,40.4,40.3,40.2,40.3,37.5
78,Wroclaw,PL004C1,PL51,PL,HR,Y15-74,40.2,40.2,40.3,40.3,40.7,40.8,40.6,40.8
79,Zagreb,HR001C1,HR04,HR,HR,Y15-74,39.8,39.9,39.8,39.4,39.5,39.7,39.6,39.8
80,Zurich,CH001C1,CH04,CH,HR,Y15-74,34.8,34.6,34.7,34.7,34.7,34.5,35.0,35.2

In [9]:

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
avg_hours

,City,City Code,NUTS 2,Country,unit,age,2019,2018,2017,2016,2015,2014,2013,2012
0,Amsterdam,NL002C1,NL32,NL,HR,Y15-74,30.8,30.9,30.8,30.7,30.3,30.4,30.2,30.6
1,Ankara,TR001C1,TR51,TR,HR,Y15-74,44.0,44.7,44.9,45.7,46.8,47.0,48.1,48.7
2,Antwerp,BE002C1,BE2,BE,HR,Y15-74,37.6,37.6,38.1,37.3,37.4,37.4,37.7,37.2
3,Athens,EL001C1,EL30,EL,HR,Y15-74,40.2,40.6,40.5,40.6,40.3,40.3,40.6,40.6
4,Barcelona,ES002C1,ES51,ES,HR,Y15-74,37.2,37.7,37.4,37.5,37.7,37.6,37.6,37.8
5,Valencia,ES003C1,ES51,ES,HR,Y15-74,37.2,37.7,37.4,37.5,37.7,37.6,37.6,37.8
6,Belfast,UK012C1,UKN0,UK,HR,Y15-74,36.9,36.5,36.5,36.3,36.6,36.7,36.3,36.2
7,Belgrade,-,RS11,RS,HR,Y15-74,42.1,42.3,42.3,42.5,42.7,41.9,42.0,36.2
8,Bergen,NO002C1,NO05,NO,HR,Y15-74,33.7,33.4,33.5,33.5,33.8,34.1,33.7,33.8
9,Berlin,DE001C1,DE30,DE,HR,Y15-74,35.4,35.5,35.4,35.7,35.5,35.7,35.6,35.8
10,Birmingham,UK002C1,UKG3,UK,HR,Y15-74,35.9,36.2,36.2,36.0,36.5,36.4,36.0,35.8
11,Bologna,IT009C1,ITH5,IT,HR,Y15-74,37.7,37.8,37.8,37.5,37.6,37.4,37.5,37.4
12,Brasov,RO504C1,RO12,RO,HR,Y15-74,40.3,40.2,40.2,40.3,40.4,40.6,40.7,40.7
13,Bratislava,SK001C1,SK01,SK,HR,Y15-74,41.2,41.1,41.2,41.8,41.8,41.5,41.7,41.9
14,Bristol,UK011C1,UKK1,UK,HR,Y15-74,36.0,35.9,36.5,36.1,36.2,36.3,36.5,36.1
15,Brno,CZ002C1,CZ06,CZ,HR,Y15-74,40.3,40.3,40.2,40.4,40.6,40.6,40.4,40.9
16,Brussels,BE001C1,BE1,BE,HR,Y15-74,36.9,37.2,37.3,37.1,37.4,37.2,37.3,37.0
17,Bucharest,RO001C1,RO32,RO,HR,Y15-74,40.2,40.3,40.2,40.3,40.3,40.5,40.5,40.6
18,Budapest,HU001C1,HU11,HU,HR,Y15-74,39.2,39.4,39.8,39.9,40.4,40.3,39.7,40.6
19,Bursa,TR005C1,TR41,TR,HR,Y15-74,45.3,45.4,46.4,47.4,48.5,48.2,46.8,49.9
20,Cambridge,UK017C1,UKH1,UK,HR,Y15-74,36.3,36.3,36.8,36.7,36.7,36.5,36.8,36.0
21,Cluj-Napoca,RO002C1,RO11,RO,HR,Y15-74,40.0,39.9,39.9,40.0,39.9,40.1,40.3,40.3
22,Cologne,DE004C1,DEA2,DE,HR,Y15-74,34.7,34.9,35.0,35.1,35.3,35.2,35.2,35.5
23,Constanta,RO501C1,RO22,RO,HR,Y15-74,40.2,39.9,40.0,40.1,40.2,40.5,40.6,40.7
24,Copenhagen,DK001C1,DK01,DK,HR,Y15-74,33.0,33.0,33.0,33.1,33.3,33.2,33.3,33.3
25,Cork,IE002C1,IE05,IE,HR,Y15-74,36.4,36.6,36.1,36.0,35.8,35.8,35.4,35.1
26,Dublin,IE001C1,IE06,IE,HR,Y15-74,36.6,36.5,36.4,36.0,36.0,35.8,35.5,35.2
27,Dusseldorf,DE011C1,DEA1,DE,HR,Y15-74,34.9,35.0,35.2,35.3,35.1,35.1,35.1,35.7
28,Edinburgh,UK007C1,UKM7,UK,HR,Y15-74,36.5,35.9,36.1,36.0,36.5,36.5,36.8,35.7
29,Eindhoven,NL005C1,NL41,NL,HR,Y15-74,30.8,30.5,30.5,30.5,30.2,30.3,30.0,30.5
30,Frankfurt,DE005C1,DE71,DE,HR,Y15-74,35.2,35.1,35.2,35.1,35.4,35.5,35.6,35.9
31,Gdansk,PL006C1,PL63,PL,HR,Y15-74,40.7,41.1,41.1,41.1,41.3,41.5,41.2,40.9
32,Geneva,CH002C1,CH01,CH,HR,Y15-74,35.3,35.4,35.3,35.4,35.3,35.5,35.7,35.5
33,Gent,BE003C1,BE23,BE,HR,Y15-74,37.5,37.5,38.0,37.5,37.5,37.4,38.0,37.4
34,Glasgow,UK004C1,UKM3,UK,HR,Y15-74,36.3,36.3,36.4,36.2,36.5,36.5,36.5,35.9
35,Gothenburg,SE002C1,SE23,SE,HR,Y15-74,36.3,36.5,36.5,36.6,36.3,36.2,36.2,36.2
36,Hamburg,DE002C1,DE60,DE,HR,Y15-74,35.5,36.0,36.0,36.2,36.0,36.0,36.0,36.4
37,Iasi,RO502C1,RO21,RO,HR,Y15-74,39.8,39.5,39.7,40.0,39.9,40.2,40.2,40.6
38,Istanbul,TR012C1,TR10,TR,HR,Y15-74,46.7,46.9,47.8,48.0,49.2,49.5,49.9,50.2
39,Izmir,TR013C1,TR31,TR,HR,Y15-74,44.6,44.2,45.1,45.3,46.6,47.6,46.8,47.5
40,Kaunas,LT002C1,LT02,LT,HR,Y15-74,38.8,38.7,38.3,38.4,38.2,37.8,37.9,47.5
41,Krakow (Cracow),PL003C1,PL2,PL,HR,Y15-74,40.0,40.1,40.1,40.3,40.3,40.2,40.0,40.1
42,Leeds,UK003C1,UKE4,UK,HR,Y15-74,36.1,36.5,36.1,36.2,36.2,36.0,36.2,36.4
43,Limassol,CY501C1,CY00,CY,HR,Y15-74,39.3,39.4,39.3,39.2,39.5,39.4,39.8,39.9
44,Lisbon,PT001C1,PT17,PT,HR,Y15-74,39.9,39.8,40.0,39.8,39.9,40.6,40.3,40.1
45,Ljubljana,SI001C1,SI04,SI,HR,Y15-74,39.5,39.2,38.9,39.1,39.1,39.2,39.3,39.8
46,London,UK001K2,UKI,UK,HR,Y15-74,38.0,37.8,38.0,38.1,37.9,38.0,37.7,37.9
47,Luxembourg,LU001C1,LU00,LU,HR,Y15-74,37.9,37.6,37.4,37.5,37.4,37.4,37.2,37.2
48,Lyon,FR003C2,FRK2,FR,HR,Y15-74,37.5,37.4,37.3,37.5,37.4,37.3,37.5,37.6
49,Madrid,ES001C1,ES30,ES,HR,Y15-74,37.7,37.9,38.1,38.3,38.4,38.7,38.7,38.8
50,Manchester,UK008C1,UKD3,UK,HR,Y15-74,36.8,36.4,36.0,36.4,36.6,36.9,36.2,36.0
51,Milan,IT002C1,ITC4,IT,HR,Y15-74,37.6,37.6,37.6,37.5,37.5,37.4,37.3,37.5
52,Munich,DE003L1,DE21,DE,HR,Y15-74,35.8,36.0,36.2,36.1,36.2,36.2,36.3,36.4
53,Nicosia,CY001C1,CY0,CY,HR,Y15-74,39.3,39.4,39.3,39.2,39.5,39.4,39.8,39.9
54,Oslo,NO001C1,NO01,NO,HR,Y15-74,34.4,34.5,34.5,34.6,34.3,34.2,34.2,34.4
55,Paris,FR001C1,FR10,FR,HR,Y15-74,38.2,38.0,38.1,38.1,37.9,37.7,37.9,38.9
56,Porto,PT002C1,PT11,PT,HR,Y15-74,39.6,39.8,39.8,39.6,39.6,40.0,39.5,39.5
57,Poznan,PL005C1,PL41,PL,HR,Y15-74,41.0,40.7,41.0,41.5,41.6,41.8,41.7,41.7
58,Prague,CZ001C1,CZ01,CZ,HR,Y15-74,40.0,40.7,40.4,40.2,40.8,40.5,40.8,41.1
59,Reykjavik,IS001C1,IS00,IS,HR,Y15-74,39.2,39.2,39.1,39.3,39.6,39.6,39.5,39.4
60,Riga,LV001C1,LV00,LV,HR,Y15-74,38.6,38.9,38.8,38.7,39.0,39.1,38.8,38.7
61,Rome,IT001C1,ITI4,IT,HR,Y15-74,36.7,36.6,36.6,36.5,36.2,36.2,36.4,36.5
62,Rotterdam,NL003C1,NL33,NL,HR,Y15-74,30.7,30.8,30.7,30.9,30.6,30.6,30.7,30.8
63,The Hague (Den Haag),NL001C1,NL33,NL,HR,Y15-74,30.7,30.8,30.7,30.9,30.6,30.6,30.7,30.8
64,Seville (Sevilla),ES004C1,ES61,ES,HR,Y15-74,37.3,37.4,37.3,37.3,37.0,37.3,37.7,37.8
65,Sofia,BG001C1,BG41,BG,HR,Y15-74,40.3,40.4,40.4,40.5,40.4,40.2,40.2,40.3
66,Stockholm,SE001C1,SE11,SE,HR,Y15-74,36.6,36.6,36.6,36.5,36.5,36.4,36.3,36.6
67,Stuttgart,DE007C1,DE11,DE,HR,Y15-74,34.8,34.6,34.8,34.9,34.9,34.9,35.0,35.3
68,Tallinn,EE001C1,EE00,EE,HR,Y15-74,38.1,38.2,38.5,38.4,38.6,38.9,38.8,38.8
69,Thessaloniki,EL002C1,EL52,EL,HR,Y15-74,41.3,41.9,42.3,42.5,41.9,42.2,42.4,41.9
70,Timisoara,RO003C1,RO42,RO,HR,Y15-74,40.1,40.0,39.9,39.9,40.0,40.3,40.3,40.7
71,Trieste,IT015C1,ITH4,IT,HR,Y15-74,37.4,37.1,37.1,37.1,37.0,37.1,37.0,37.2
72,Trondheim,NO003C1,NO06,NO,HR,Y15-74,33.8,33.6,33.4,33.4,33.4,33.9,33.5,33.8
73,Turin,IT004C1,ITC1,IT,HR,Y15-74,37.3,37.8,37.8,37.8,37.8,37.5,37.3,37.5
74,Varna,BG003C1,BG33,BG,HR,Y15-74,40.4,40.7,41.0,41.2,41.4,41.2,40.9,41.0
75,Vienna,AT001C1,AT13,AT,HR,Y15-74,36.5,36.6,36.2,36.0,36.2,36.5,37.0,37.5
76,Vilnius,LT001C1,LT01,LT,HR,Y15-74,38.8,38.8,38.9,38.7,38.8,38.6,38.7,37.5
77,Warsaw,PL001C1,PL91,PL,HR,Y15-74,39.8,39.8,40.2,40.4,40.3,40.2,40.3,37.5
78,Wroclaw,PL004C1,PL51,PL,HR,Y15-74,40.2,40.2,40.3,40.3,40.7,40.8,40.6,40.8
79,Zagreb,HR001C1,HR04,HR,HR,Y15-74,39.8,39.9,39.8,39.4,39.5,39.7,39.6,39.8
80,Zurich,CH001C1,CH04,CH,HR,Y15-74,34.8,34.6,34.7,34.7,34.7,34.5,35.0,35.2

In [10]:
#To be able to merge with the other data
#Transform the columns of each year to a variable year
yearly_data = dict()
avg_working_hours  = pd.DataFrame()
for year in range(2012,2020):
    yearly_data= avg_hours[ list(avg_hours.loc[:,'City':' Country']) + [f"{year}"]]
    yearly_data.insert(4, "Year", year)
    yearly_data = yearly_data.rename(columns={f"{year}": "Unemployment_Rate"})
    avg_working_hours = avg_working_hours.append(yearly_data)
avg_working_hours = avg_working_hours.reset_index(drop=True)

In [11]:
avg_working_hours.to_csv(path_or_buf='Average_Working_Hours.csv')